body {
    text-align: center;
    background-color: cadetblue;
}
div{
    margin-top: 15px;
}
.image-section{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
.lu{
    width: 500px;
    height: 400px;
}
.plt{
    width: 500px;
    height: 400px;
}